<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>系统模块</title>

    <!--引用各种第三方库-->
    <link href="/bower_components/zui/dist/css/zui.css" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/zui/dist/js/zui.js"></script>
    <link href="/bower_components/zui/dist/lib/tabs/zui.tabs.css" rel="stylesheet">
    <script src="/bower_components/zui/dist/lib/tabs/zui.tabs.js"></script>
    <link href="/bower_components/zui/dist/lib/datagrid/zui.datagrid.css" rel="stylesheet">
    <script src="/bower_components/zui/dist/lib/datagrid/zui.datagrid.js"></script>

    <!--引用调用ajax的js-->
    <script src="/controller/ajax.js"></script>

    <style>
    </style>


</head>

<body>

<div class="container">

</div>


</body>


<script>

    $(document).ready(function () {

    });

</script>

</html>