<!DOCTYPE html>
<html>
  <head>
    <link href="/bower_components/zui/dist/css/zui.css" rel="stylesheet">

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/zui/dist/js/zui.js"></script>
    <link href="/bower_components/zui/dist/lib/tabs/zui.tabs.css" rel="stylesheet">
    <script src="/bower_components/zui/dist/lib/tabs/zui.tabs.js"></script>

    <link href="/bower_components/zui/dist/lib/datagrid/zui.datagrid.css" rel="stylesheet">
    <script src="/bower_components/zui/dist/lib/datagrid/zui.datagrid.js"></script>

    <link href="lib/datagrid/zui.datagrid.min.css" rel="stylesheet">
    <script src="lib/datagrid/zui.datagrid.min.js"></script>
  </head>
  <body>
  <!--新增进度表-->
  <!-- 对话框触发按钮 -->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myLgModal">大对话框</button>

  <div class="modal fade" id="myLgModal">
    <div class="modal-dialog  modal-moveable  modal-lg">
      <div class="modal-content">
        <div style="text-align: center;margin-top:10px;width: 100%">

          <button  style="margin: auto;" class="btn btn-success btn-block " type="button"><i class="icon icon-tags"></i>新增进度</button>
        </div>
        <div  style="margin-top:10px;" class="input-control has-icon-right">
          <input id="inputPasswordExample1" type="password" class="form-control" placeholder="产品型号">
          <label for="inputPasswordExample1" class="input-control-icon-right"><i class="icon icon-key"></i></label>
        </div>
        <div  style="margin-top:10px;" class="input-control has-icon-right">
          <input id="inputPasswordExample1" type="password" class="form-control" placeholder="产品批次">
          <label for="inputPasswordExample1" class="input-control-icon-right"><i class="icon icon-key"></i></label>
        </div>
        <div  style="margin-top:10px;" class="input-control has-icon-right">
          <input id="inputPasswordExample1" type="password" class="form-control" placeholder="产品工序">
          <label for="inputPasswordExample1" class="input-control-icon-right"><i class="icon icon-key"></i></label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary">保存</button>
        </div>
      </div>
    </div>

  </div>


  <script>
    //注册新增按钮的事件


  </script>
  </body>
</html>
