<div class="tab3">
    <button style="margin: 20px 10px" class="btn  btn-danger" type="button"
            id="deleteProductProcedureList">删除
    </button>
    <button onclick="window.exportProductProcedureList()" style="margin: 20px 10px" class="btn  btn-success" type="button"
            id="exportProductProcedureList">导出
    </button>

    <div class="input-control search-box search-box-circle has-icon-left has-icon-right" id="procesSearchBox" style="margin-bottom: 10px; max-width: 300px">
        <input id="inputSearchExample2" type="search" class="form-control search-input" placeholder="搜索">
        <label for="inputSearchExample2" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
        <a  onclick="$('#procesSearchBox #inputSearchExample2').val('');window.searchBox()" class="input-control-icon-right search-clear-btn"><i class="icon icon-remove" ></i></a>
    </div>
<!--    <div style="margin-bottom: 20px"-->
<!--         class="input-control search-box search-box-circle has-icon-left has-icon-right" id="searchboxExample">-->


<!--        <input id="inputSearchExample1" type="search" class="form-control search-input" placeholder="搜索">-->
<!--        <label for="inputSearchExample1" class="input-control-icon-left search-icon"><i-->
<!--                class="icon icon-search"></i></label>-->
<!--        <a href="#" class="input-control-icon-right search-clear-btn"><i class="icon icon-remove"></i></a>-->


<!--    </div>-->

    <div id="datagridCheckableExample3top" class="datagrid" >
        <div id="datagridCheckableExample3">

        </div>


    </div>

    <div style="text-align: center;width: 100%" id="btnGroup">

        <div style="margin: auto">


        </div>
    </div>

</div>

