<div class="tab1">
    <!--未支付产品双击弹窗-->
    <div class="modal fade modal-moveable" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">关闭</span></button>
                    <h4 class="modal-title">未交付产品</h4>
                </div>

                <div class="modal-body">

                    <div style="margin-top:10px" class="input-control has-label-left has-icon-right">
                        <input id="model_code" type="text" class="form-control" placeholder="">
                        <label for="model_code" class="input-control-label-left">型号:</label>
                        <label for="model_code" class="input-control-icon-right"><i class="icon icon-check"></i></label>
                    </div>

                    <div style="margin-top:10px" class="input-control has-label-left has-icon-right">
                        <input id="model_num" type="text" class="form-control" placeholder="10008">
                        <label for="model_num" class="input-control-label-left">数量:</label>
                        <label for="model_num" class="input-control-icon-right"><i class="icon icon-check"></i></label>
                    </div>

                    <div style="margin-top:10px" class="input-control has-label-left has-icon-right">
                        <input id="model_accept_num" type="text" class="form-control" placeholder="15325">
                        <label for="model_accept_num" class="input-control-label-left">订单数:</label>
                        <label for="model_accept_num" class="input-control-icon-right"><i
                                class="icon icon-check"></i></label>
                    </div>


                    <div style="margin-top:10px" id="datagrid_prdTab1_4" class="datagrid">
                        <div class="datagrid-container">

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                </div>
            </div>
        </div>
    </div>

    <!--//搜索框ID-->
    <div class="container" style="margin:0;padding:0">
        <div class="input-group col-md-4" style="float:left;margin:10px 10px 10px 10px">
            <span class="input-group-addon">下单日期开始</span>
            <input type="text" class="form-control nameLetter datetimepicker tab1CreatedAt"
                   placeholder="选择开始">
            <span class="input-group-addon removeInfo cursor" onclick="$('.tab1CreatedAt').val('')">x</span>
        </div>

        <div class="input-group col-md-4" style="float:left;margin:10px 10px 10px 10px">
            <span class="input-group-addon">下单日期结束</span>
            <input type="text" class="form-control nameLetter datetimepicker tab1CreatedAtEnd"
                   placeholder="选择结束">
            <span class="input-group-addon removeInfo cursor" onclick="$('.tab1CreatedAtEnd').val('')">x</span>
        </div>

        <div class="input-group col-md-4" style="float:left;margin:10px 10px 10px 10px">
            <span class="input-group-addon">交付日期开始</span>
            <input type="text" class="form-control nameLetter datetimepicker tab1DeliveryDateStart"
                   placeholder="选择开始">
            <span class="input-group-addon removeInfo cursor" onclick="$('.tab1DeliveryDateStart').val('')">x</span>
        </div>

        <div class="input-group col-md-4" style="float:left;margin:10px 10px 10px 10px">
            <span class="input-group-addon">交付日期结束</span>
            <input type="text" class="form-control nameLetter datetimepicker tab1DeliveryDateEnd"
                   placeholder="选择结束">
            <span class="input-group-addon removeInfo cursor" onclick="$('.tab1DeliveryDateEnd').val('')">x</span>
        </div>

        <div class="input-group col-md-4" style="float:left;margin:10px 10px 10px 10px">
            <span class="input-group-addon ">订单编号</span>
            <input class="form-control tab1OrderNo" type="text" placeholder="请准确输入订单编号">
        </div>

        <div class="input-group col-md-4" style="float:left;margin:10px 10px 10px 10px">
            <span class="input-group-addon ">客户名称</span>
            <input class="form-control tab1ClientName" type="text" placeholder="点击获取下拉选项">
            <span class="input-group-addon cursor"
                  onclick="$('.tab1ClientName').removeAttr('clientId');$('.tab1ClientName').val('');">x</span>
        </div>

        <div class="input-group col-md-4" style="float:left;margin:10px 10px 10px 10px">
            <span class="input-group-addon ">产品型号</span>
            <input class="form-control tab1Model" type="text" placeholder="点击获取下拉选项">
            <span class="input-group-addon cursor" onclick="$('.tab1Model').removeAttr('productId').val('')">x</span>
        </div>

        <div class="input-group col-md-4" style="float:left;margin:10px 10px 10px 10px">
            <span class="input-group-addon ">制单员</span>
            <input class="form-control tab1Creator" type="text" placeholder="点击获取下拉选项">
            <span class="input-group-addon cursor"
                  onclick="$('.tab1Creator').removeAttr('customerId').removeAttr('nickName').val('')">x</span>
        </div>

        <div style="clear: both"></div>

        <form class="form-inline">
            <div class="col-md-6 " style="margin:10px 0;">
                <button type="button" class="btn btn-primary tab1Submit">点击搜索</button>
            </div>
        </form>


        <div style="clear: both"></div>

    </div>


    <!--未支付订单双击弹窗-->
    <div class="modal fade modal-moveable" id="tab1MyLgModal4">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">关闭</span></button>
                    <h4 class="modal-title">订单</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px; float:left">
                        <span class="input-group-addon">收货单位</span>
                        <input name="department" type="text" class="form-control department"
                               placeholder="收货单位">
                    </div>
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px">
                        <span class="input-group-addon">收货地址</span>
                        <input name="adress" type="text" class="form-control adress" placeholder="收货地址">
                    </div>
                    <div class="input-group col-md-5" style="margin:0px 20px 10px 10px; float:left">
                        <span class="input-group-addon">下单日期</span>
                        <input name="createdAt" type="text" class="form-control datetimepicker createdAt"
                               placeholder="下单日期">
                    </div>
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px">
                        <span class="input-group-addon">交付日期</span>
                        <input name="deleveredDate" type="text"
                               class="form-control datetimepicker deleveredDate" placeholder="交付日期">
                    </div>
                    <div class="input-group col-md-5" style="margin:0px 20px 10px 10px; float:left">
                        <span class="input-group-addon">订单编号</span>
                        <input name="orderNo" type="text" class="form-control orderNo" placeholder="订单编号">
                    </div>
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px">
                        <span class="input-group-addon">&nbsp;制 单 员&nbsp;</span>
                        <input name="create_user_id" readonly type="text"
                               class="form-control create_user_id" placeholder="制 单 员">
                    </div>
                    <div class="input-group col-md-5" style="margin:0px 20px 10px 10px; float:left">
                        <span class="input-group-addon">&nbsp; 已 &nbsp; 收 &nbsp;</span>
                        <input name="accepted" type="text" class="form-control accepted"
                               placeholder="已  收">
                    </div>
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px">
                        <span class="input-group-addon">&nbsp; 优 &nbsp; 惠 &nbsp;</span>
                        <input name="discount" type="text" class="form-control discount"
                               placeholder="优  惠">
                    </div>
                    <div class="input-group col-md-5" style="margin:0px 20px 10px 10px;">
                        <span class="input-group-addon">应收账款</span>
                        <input name="account_receivale" readonly type="text"
                               class="form-control account_receivale" placeholder="应收账款">
                    </div>


                    <input value="" name="index" type="hidden" class="form-control index">
                    <input value="" name="flag" type="hidden" class="form-control flag">

                </div>
                <div class="container" style="margin:0;padding:0">

                    <div style="margin:10px 10px 0px 10px;font-size: 17px;color:#666;"><span
                            style="font-weight: bolder;color:black">产品信息：</span></div>
                    <!--                <button type="button" class="btn btn-primary" id="tab1Addorder" style="margin-left: 10px">添加产品信息</button>-->
                    <div id="datagrid_unPayPrd_Tab1tb1_3" class="col-md-11" style="margin:10px 10px 10px 2px"></div>

                    <div class="input-group col-md-3" style="margin:0px 20px 10px 10px;float: left">
                        <span class="input-group-addon">件数合计</span>
                        <input name="pieceSum" readonly type="text"
                               class="form-control pieceSum" placeholder="件数合计">
                    </div>
                    <div class="input-group col-md-3" style="margin:0px 20px 10px 10px;float: left">
                        <span class="input-group-addon">数量合计</span>
                        <input name="numberSum" readonly type="text"
                               class="form-control numberSum" placeholder="数量合计">
                    </div>
                    <div class="input-group col-md-3" style="margin:0px 20px 10px 10px;float: left">
                        <span class="input-group-addon">金额合计</span>
                        <input name="priceSum" readonly type="text"
                               class="form-control priceSum" placeholder="金额合计">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

                    <button type="button" class="btn btn-primary">保存</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-moveable" id="tab1MyLgModal5">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">关闭</span></button>
                    <h4 class="modal-title">产品</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px; float:left">
                        <span class="input-group-addon">型 号</span>
                        <input name="type" type="text" class="form-control addtype type" placeholder="型 号">
                    </div>

                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px">
                        <span class="input-group-addon">名 称</span>
                        <input name="model" type="text" class="form-control model" placeholder="名 称">
                    </div>
                    <div class="input-group col-md-5" style="margin:0px 20px 10px 10px; float:left">
                        <span class="input-group-addon">规 格</span>
                        <input name="specifications" type="text" class="form-control specifications" placeholder="规 格">
                    </div>
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px">
                        <span class="input-group-addon">装箱数</span>
                        <input name="packingnumber" type="text" class="form-control packingnumber" placeholder="装箱数">
                    </div>
                    <div class="input-group col-md-5" style="margin:0px 20px 10px 10px; float:left">
                        <span class="input-group-addon">件 数</span>
                        <input name="piece" type="text" class="form-control piece" placeholder="件 数">
                    </div>
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px">
                        <span class="input-group-addon">单 价</span>
                        <input name="unitprice" type="text" class="form-control unitprice" placeholder="单 价">
                    </div>
                    <div class="input-group col-md-5" style="margin:0px 20px 10px 10px; float:left">
                        <span class="input-group-addon">金 额</span>
                        <input name="price" type="text" class="form-control price" placeholder="金 额">
                    </div>

                    <div class="input-group col-md-5" style="margin:0px 20px 10px 10px; ">
                        <span class="input-group-addon">备 注</span>
                        <input name="remarks" type="text" class="form-control remarks" placeholder="备 注">
                    </div>

                    <input value="" name="index" type="hidden" class="form-control index">
                    <input value="" name="flag" type="hidden" class="form-control flag">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="window.addOrder_details()">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-moveable" id="unPayPageDbClick-backup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">关闭</span></button>
                    <h2 class="modal-title">订单内容</h2>
                </div>
                <div class="modal-body">


                    <div id="datagrid_unPayPrd_Tab1tb1_3_backup" class="datagrid">
                        <div class="datagrid-container">

                        </div>

                    </div>

                    <h2 style="margin-top: 15px;" class="modal-title">交付情况</h2>


                    <div class="input-group col-md-4" style="margin-top: 10px">
                        <span class="input-group-addon ">是否已交付</span>
                        <input class="form-control is_Done_Tab1" type="text">
                    </div>


                </div>

                <div style="margin-top: 15px;" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!--未支付订单-->
    <div class="row col-md-12">
        <div class="col-md-7 col-xs-12">
            <div id="rq411Unpay">
                <div style="margin:10px 10px 0px 10px;font-size: 17px;color:#666;"><span
                        style="font-weight: bolder;color: red">未交付订单:</span></div>
                <div id="datagrid_unPay_Tab1tb1" class="datagrid">
                    <div class="datagrid-container">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-xs-12">
            <!--未支付产品-->
            <div id="rq412">
                <div style="margin:10px 10px 0px 10px;font-size: 17px;color:#666;"><span
                        style="font-weight: bolder;color: red">未交付产品:</span></div>
                <div id="datagrid_UnDeliveryProductsTab1tb2" class="datagrid">
                    <div class="datagrid-container">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<!--未支付产品订单中的弹窗详情-->

<div class="modal fade modal-moveable" id="Tab1_unPay_dingdan_dbclick">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <div class="modal-title">订单详情</div>
            </div>
            <!--            <div class="modal-body" >-->
            <div class="input-group col-md-5" style="margin:10px 20px 10px 10px; float:left">
                <span class="input-group-addon">客户</span>
                <input type="text" class="form-control department" name="department" placeholder="客户">
            </div>
            <div class="input-group col-md-5" style="margin:10px 20px 10px 10px">
                <span class="input-group-addon">收货地址</span>
                <input type="text" class="form-control adress" name="adress" placeholder="收货地址">
            </div>
            <!--                <div class="input-group col-md-5"style="margin:0px 20px 10px 10px; float:left">-->
            <!--                    <span class="input-group-addon">下单日期</span>-->
            <!--                    <input type="text" class="form-control"  placeholder="下单日期"  >-->
            <!--                </div>-->
            <!--                <div class="input-group col-md-5"style="margin:10px 20px 10px 10px">-->
            <!--                    <span class="input-group-addon">交付日期</span>-->
            <!--                    <input type="text" class="form-control"  placeholder="交付日期"  >-->
            <!--                </div>-->
            <!--                <div class="input-group col-md-5"style="margin:0px 20px 10px 10px; float:left">-->
            <!--                    <span class="input-group-addon">订单编号</span>-->
            <!--                    <input type="text" class="form-control"  placeholder="订单编号"  >-->
            <!--                </div>-->
            <!--                <div class="input-group col-md-5"style="margin:10px 20px 10px 10px">-->
            <!--                    <span class="input-group-addon">&nbsp;制 单 员</span>-->
            <!--                    <input type="text" class="form-control"  placeholder="制 单 员"  >-->
            <!--                </div>-->
            <!--                <div class="input-group col-md-5"style="margin:0px 20px 10px 10px; float:left">-->
            <!--                    <span class="input-group-addon">&nbsp; 已 收 &nbsp;</span>-->
            <!--                    <input type="text" class="form-control"  placeholder="已 收"  >-->
            <!--                </div>-->
            <!--                <div class="input-group col-md-5"style="margin:10px 20px 10px 10px">-->
            <!--                    <span class="input-group-addon">&nbsp; 优 惠 &nbsp;</span>-->
            <!--                    <input type="text" class="form-control"  placeholder="优 惠"  >-->
            <!--                </div>-->
            <!--                <div class="input-group col-md-5"style="margin:0px 20px 10px 10px; float:left">-->
            <!--                    <span class="input-group-addon">应收账款</span>-->
            <!--                    <input type="text" class="form-control"  placeholder="应收账款"  >-->
            <!--                </div>-->
            <!--                <div class="input-group col-md-5"style="margin:10px 20px 10px 10px">-->
            <!--                    <span class="input-group-addon">&nbsp; 备 注 &nbsp;</span>-->
            <!--                    <input type="text" class="form-control"  placeholder="备注"  >-->
            <!--                </div>-->
            <!--            </div>-->


            <div id="Tab1_Table1_5" class="datagrid" style="margin: 10px 10px">
                <div class="datagrid-container">

                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>


    </div>
</div>

</div>