<div class="container" style="margin:0;padding:0">

    <div class="btn-group " style="margin:20px 10px 10px 10px;float: left;">
        <button onclick="window.doExport('chenpinchukudan','inforepot2','#canku-table2')" class="btn btn-success" style="width:100px"
                id="xinzeng">导出
        </button>
    </div>
    <div class="btn-group " style="margin:20px 10px 10px 10px;float: left;">
        <button class="btn btn-success" style="width:100px" id="xiugai">导入</button>
    </div>
    <button onclick="window.doExportTemplate('chenpinchukudan','inforepot2','#canku-table2')" style="margin: 20px 10px" class="btn  btn-info" type="button">下载导入模板</button>

    <!--成品出库-->
    <div class="modal fade modal-moveable" id="productOutModal">
        <div class="modal-dialog  modal-moveable modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">成品出库单</h4>
            </div>
            <div class="modal-content">
                <div class="input-group col-md-4 col-xs-11" style="margin:10px 10px 5px 10px;float: left;">
                    <span class="input-group-addon">录入日期</span>
                    <input name="createdAt" type="text" class="form-control createdAt datetimepicker">
                </div>

                <div class="input-group col-md-4 col-xs-11" style="margin:10px 10px 5px 10px;float: left;">
                    <span class="input-group-addon">经手人</span>
                    <input name="recorder" type="text" class="form-control recorder">
                </div>
                <div style="clear: both"></div>

                <div style="margin:15px 10px 0px 10px ;font-size: 17px;color:#666;"><span
                        style="font-weight: bolder;color: red">客户:</span></div>
                <div class="input-group col-md-4 col-xs-11" style="margin:10px 10px 5px 10px;float: left;">
                    <span class="input-group-addon ">&nbsp;&nbsp;名称&nbsp;&nbsp;</span>
                    <input name="receiverDep" type="text" class="form-control receiverDep" placeholder="点击获取下拉选项">
                </div>
                <div class="input-group col-md-4 col-xs-11" style="margin:10px 10px 5px 10px;float: left;">
                    <span class="input-group-addon">联系人</span>
                    <input name="receiver" type="text" class="form-control receiver">
                </div>
                <div style="clear: both"></div>
                <div class="input-group col-md-4 col-xs-11" style="margin:10px 10px 5px 10px;float: left;">
                    <span class="input-group-addon">&nbsp;&nbsp;地址&nbsp;&nbsp;</span>
                    <input name="receiverAddressPhone" type="text" class="form-control receiverAddressPhone">
                </div>
                <div class="input-group col-md-4 col-xs-11" style="margin:10px 10px 5px 10px;float: left;">
                    <span class="input-group-addon ">&nbsp;&nbsp;电话&nbsp;&nbsp;</span>
                    <input name="mobile" type="text" class="form-control mobile">
                </div>
                <div style="clear: both"></div>
                <div class="input-group col-md-8 col-xs-11" style="margin:10px 10px 5px 10px;float: left;">
                    <span class="input-group-addon">客户订单编号</span>
                    <input name="sn" type="text" class="form-control sn" placeholder="点击获取下拉选项">
                </div>
                <div style="clear: both"></div>

                <div style="clear: both"></div>

                <div style="margin:15px 10px 0px 10px ;font-size: 17px;color:#666;"><span
                        style="font-weight: bolder;color: red">产品列表:</span></div>

                <div style="clear: both"></div>
                <div id="candidateProducts" class="alert alert-warning"></div>

                <!--                <div class="alert alert-warning" id="productTips" style="display: none">-->
                <!--                    <h4>此订单下可添加的产品有：</h4>-->
                <!--                    <p class="products"></p>-->
                <!--                </div>-->
                <div style="clear: both"></div>

                <div id='table-productsOut' class="col-md-10" style="margin:10px 10px 10px 2px"></div>

                <div class="input-group col-md-4 col-xs-11" style="margin:10px 10px 5px 10px;">
                    <span class="input-group-addon">合计</span>
                    <input type="text" class="form-control sum" placeholder="合计">
                </div>
                <div style="margin:15px 10px 0px 10px ;font-size: 17px;color:#666;"><span
                        style="font-weight: bolder;color: red">发货单位:</span></div>
                <div class="input-group col-md-4 col-xs-11 " style="margin:10px 10px 5px 10px;float: left;">
                    <span class="input-group-addon">&nbsp;&nbsp;名称&nbsp;&nbsp;</span>
                    <input name="supplierName" type="text" class="form-control supplierName">
                </div>
                <div class="input-group col-md-11 col-xs-11" style="margin:10px 10px 5px 10px;float: left;">
                    <span class="input-group-addon">地址、电话</span>
                    <input name="supplierAddress" type="text" class="form-control supplierAddress">
                </div>
                <div style="clear: both"></div>
                <div class="input-group col-md-4 col-xs-11" style="margin:10px 10px 5px 10px;float: left;">
                    <span class="input-group-addon">&nbsp;&nbsp;备注&nbsp;&nbsp;</span>
                    <input name="note" type="text" class="form-control note">
                </div>

                <input value="out" name="type" type="hidden" class="form-control type">

                <input value="" name="id" type="hidden" class="form-control id">
                <input value="" name="clientId" type="hidden" class="form-control clientId">
                <input value="" name="index" type="hidden" class="form-control index">
                <input value="" name="flag" type="hidden" class="form-control flag">


                <div style="clear: both"></div>
            </div>
            <div class="modal-footer" style="border-top:none">
                <div style="clear: both"></div>
<!--                <button onclick="window.saveProductOut()" class="btn btn-primary col-md-1 col-sm-2 btn2 exBtn2"-->
<!--                        style="float:right;width:85px;margin:10px 10px 10px 2px">保存单据-->
<!--                </button>-->
<!--                <button onclick="window.deleteProductInOut('out')" class="btn btn-danger col-md-1 col-sm-2 btn2 exBtn2"-->
<!--                        style="float:right;width:85px;margin:10px 10px 10px 2px">删除单据-->
<!--                </button>-->
                <button class="btn  col-md-1 col-sm-2 btn2 exBtn2"
                        style="float:right;width:100px;margin:10px 10px 10px 12px" data-dismiss="modal">关闭
                </button>
            </div>
        </div>
    </div>

    <!--    <div class="input-group col-md-2 col-sm-5" style="margin:20px 10px 10px 10px;float: left;">-->
    <!--        <span class="input-group-addon">搜索</span>-->
    <!--        <input type="text" class="form-control" >-->
    <!--    </div>-->
    <div style="clear: both"></div>
</div>


<div class="container" style="margin:0;padding:0">
    <div id='canku-table2' class="col-md-12 col-xs-12" style="margin:10px 10px 10px 2px"></div>
</div>