<div class="container" style="margin:0;padding:0">

    <div class="btn-group " style="margin:20px 10px 10px 10px;float: left;">
        <button onclick="window.exportMaterialList()" class="btn btn-success"style="width:100px"id="xinzeng">导出</button>
   </div>
    <div class="btn-group " style="margin:20px 10px 10px 10px;float: left;">
        <button class="btn btn-success"style="width:100px"id="xiugai">导入</button>
    </div>




    
<!--    <div class="input-group col-md-2 col-sm-5" style="margin:20px 10px 10px 10px;float: left;">-->
<!--        <span class="input-group-addon">搜索</span>-->
<!--        <input type="text" class="form-control" >-->
<!--    </div>-->

    <div style="clear: both"></div>

    <div class="input-control search-box search-box-circle has-icon-left has-icon-right" id="procesSearchBox" style="margin-bottom: 10px; max-width: 300px">
        <input id="inputSearchExample2" type="search" class="form-control search-input" placeholder="搜索">
        <label for="inputSearchExample2" class="input-control-icon-left search-icon"><i class="icon icon-search"></i></label>
        <a  onclick="$('#procesSearchBox #inputSearchExample2').val('');window.searchBox()" class="input-control-icon-right search-clear-btn"><i class="icon icon-remove" ></i></a>
    </div>
</div>


<div class="container" style="margin:0;padding:0">
    <div id='canku-table4' class="col-md-12 col-xs-12"style="margin:10px 10px 10px 2px"></div>
</div>