<div class="container" style="margin:0;padding:0">

    <div class="btn-group " style="margin:20px 10px 10px 10px;float: left;">
        <button class="btn btn-warning" style="width:100px" id="xinzengMaterial" onclick="window.addMaterial()">物料+
        </button>
    </div>
    <div class="btn-group " style="margin:20px 10px 10px 10px;float: left;">
        <button class="btn btn-warning" style="width:100px" id="xinzengProduct" onclick="window.addProduct()">产品+
        </button>

    </div>


<!--    <div class="btn-group " style="margin:20px 10px 10px 10px;float: left;">-->
<!--        <button class="btn btn-info" style="width:100px" id="xiugai">修改</button>-->
<!--    </div>-->

    <div class="btn-group " style="margin:20px 10px 10px 10px;float: left;">
        <button class="btn btn-danger" style="width:100px">删除</button>
    </div>
    <div class="btn-group " style="margin:20px 10px 10px 10px;float: left;">
        <button onclick="window.doExport('物料关联信息','inforepot5','#canku-table5')" class="btn btn-success"
                style="width:100px">导出
        </button>
    </div>
    <div class="btn-group " style="margin:20px 10px 10px 10px;float: left;">
        <button class="btn btn-success" style="width:100px">导入</button>
    </div>
    <button onclick="window.doExportTemplate('物料关联信息','inforepot5','#canku-table5')" style="margin: 20px 10px" class="btn  btn-info" type="button">下载导入模板</button>
<div class="btn-group " style="margin:20px 10px 10px 10px;float: left;">

    </div>
    <!--    <div class="input-group col-md-2 col-sm-5" style="margin:20px 10px 10px 10px;float: left;">-->
    <!--        <span class="input-group-addon">搜索</span>-->
    <!--        <input type="text" class="form-control">-->
    <!--    </div>-->
    <div style="clear: both"></div>
</div>


<div class="container" style="margin:0;padding:0">
    <div id='canku-table5' class="col-md-12 col-xs-12" style="margin:10px 10px 10px 2px"></div>
</div>


<!--&lt;!&ndash; 对话框——1——HTML &ndash;&gt;-->
<!--<div class="modal fade modal-moveable" id="luru_tanchuang">-->
<!--    <div class="modal-dialog  modal-moveable modal-lg">-->
<!--        <div class="modal-content">-->
<!--            <div style="margin:15px 10px 0px 10px ;font-size: 17px;color:#666;"><span-->
<!--                    style="font-weight: bolder;color: red">物料录入:</span></div>-->
<!--            <div class="container" style="margin:0;padding:0">-->
<!--                <div id='canku-table6' class="col-md-4 col-sm-7" style="margin:10px 10px 10px 2px"></div>-->

<!--            </div>-->

<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--            <button class="btn btn-primary col-md-1 col-sm-2 btn3"-->
<!--                    style="float:left;width:85px;margin:10px 10px 10px 2px">保存-->
<!--            </button>-->
<!--            <button class="btn btn-primary col-md-1 col-sm-2 btn3"-->
<!--                    style="float:left;width:100px;margin:10px 10px 10px 12px" data-dismiss="modal">取消-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- 产品新增 对话框HTML -->
<div class="modal fade modal-moveable" id="productModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 style="font-size: 20px" class="modal-title">产品型号新增</h4>
            </div>
            <div class="modal-content">
                <div class="input-group col-md-4" style="float:left;margin:10px 10px 10px 10px">
                    <span class="input-group-addon ">型号</span>
                    <input name="model" class="form-control model" type="text" placeholder="请输入型号">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="saveModel" onclick="window.saveProduct()">保存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-moveable" id="ProductModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">产品</h4></div>
            <div class="modal-body">
                <div class="form" id="ProductForm">
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px; float:left">
                        <span class="input-group-addon">型号</span>
                        <input id="modelformId" type="text" name="model" class="form-control model" placeholder="">
                        <span class="input-group-addon cursor" onclick="$('#modelformId').val('')">x</span>
                    </div>
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px; float:left">
                        <span class="input-group-addon">名称</span>
                        <input id="nameformId" type="text" name="name" class="form-control name" placeholder="">
                        <span class="input-group-addon cursor" onclick="$('#nameformId').val('')">x</span>
                    </div>
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px; float:left">
                        <span class="input-group-addon">规格</span>
                        <input id="specificationsformId" type="text" name="specifications"
                               class="form-control specifications"
                               placeholder="">
                        <span class="input-group-addon cursor" onclick="$('#specificationsformId').val('')">x</span>
                    </div>
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px; float:left">
                        <span class="input-group-addon">装箱数</span>
                        <input id="packingnumberformId" type="text" name="packingnumber"
                               class="form-control packingnumber"
                               placeholder="">
                        <span class="input-group-addon cursor" onclick="$('#packingnumberformId').val('')">x</span>
                    </div>
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px; float:left">
                        <span class="input-group-addon">箱数</span>
                        <input id="packing_amountformId" type="text" name="packing_amount"
                               class="form-control packing_amount"
                               placeholder="">
                        <span class="input-group-addon cursor" onclick="$('#packing_amountformId').val('')">x</span>
                    </div>
                    <div class="input-group col-md-5" style="margin:10px 20px 10px 10px; float:left">
                        <span class="input-group-addon">单价</span>
                        <input id="unitpriceformId" type="text" name="unitprice" class="form-control unitprice"
                               placeholder="">
                        <span class="input-group-addon cursor" onclick="$('#unitpriceformId').val('')">x</span>
                    </div>
                    <input name="type" class="type" type="hidden">
                    <input name="row" class="row" type="hidden">
                    <input name="col" class="col" type="hidden">
                    <input name="id" class="id" type="hidden">
                    <input name="flag" class="flag" type="hidden">
                    <input name="index" class="index" type="hidden">
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button onclick="window.deleteProduct()" type="button" class="btn btn-danger"
                >删除
                </button>
                <button onclick="window.saveProduct()" type="button" class="btn btn-primary"
                >保存
                </button>
            </div>
        </div>
    </div>
</div>


<!-- 工序新增 对话框HTML -->
<div class="modal fade modal-moveable" id="materialModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 style="font-size: 20px" class="modal-title">物料新增</h4>
            </div>
            <div class="modal-content">
                <div class="input-group col-md-4" style="float:left;margin:10px 10px 10px 10px">
                    <span class="input-group-addon ">物料</span>
                    <input name="name" class="form-control name" type="text" placeholder="请输入物料名称">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="saveProcedure" onclick="window.saveMaterial()">保存
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 修改属性 对话框HTML -->
<div class="modal fade modal-moveable" id="InfoModal1_10">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 style="font-size: 20px" class="modal-title">值修改</h4>
            </div>
            <div class="modal-content">
                <div class="input-group col-md-8" style="float:left;margin:10px 10px 10px 10px">
                    <span class="input-group-addon inputWidget">修改为：</span>
                    <input class="form-control tab10Value inputWidget" type="text" placeholder="请输入新值">

                    <input class="id" type="hidden" name="id">
                    <input class="modelName" type="hidden" name="modelName">
                    <input name="row" class="row" type="hidden">
                    <input name="col" class="col" type="hidden">
                    <input name="productIndex" class="productIndex" type="hidden">
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button onclick="window.deleteModel()"
                        type="button" class="btn btn-danger" data-dismiss="modal">删除
                </button>
                <button type="button" class="btn btn-primary" id="savePros" onclick="window.saveProductHasMaterial()">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>